# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
.env.local
.env.production
.env.prod
.env.staging
.env.dev
.env.*
!.env.example
!.env.local.example
!.env.production.example
!.env.staging.example
